# Statistical Tests (for Location) Overview

This notebook contains descriptions and examples for several one-sample and two-sample location tests, given in the table below.

|Test                      |#Samples|Assumptions| Hypotheses|
|-                         |-       |-          |-          |
|One-sample t-test         |One     |$\; (X_1, ..., X_n) \stackrel{iid}{\sim} \mathcal{N}(\mu,\sigma^2)$ with $\mu,\sigma^2$ unknown| $H0: \mu =$ $ \mu_0$ <br> $H1: \mu $ $< \mu_0$ or $\mu > \mu_0$ or $\mu \neq \mu_0$
|Wilcoxon signed-rank test |One     |$\; (X_1, ..., X_n) \stackrel{iid}{\sim} F$ *continuous* & *symmetric* about unknown $\mu$| $H0: \mu =$ $ \mu_0$ <br> $H1: \mu $ $< \mu_0$ or $\mu > \mu_0$ or $\mu \neq \mu_0$
|Independent-samples t-test|Two     |$(X_1, ..., X_n) \stackrel{iid}{\sim} \mathcal{N}(\mu_1,\sigma^2)$ with $\mu_1,\sigma^2$ unknown. <br> $(Y_1, ..., Y_m) \stackrel{iid}{\sim} \mathcal{N}(\mu_2,\sigma^2)$ with $\mu_2,\sigma^2$ unknown.| $H0: \mu_1$ $ =$ $ \mu_2$ <br> $H1: \mu_1 $ $< \mu_2$ or $\mu_1 > \mu_2$ or $\mu_1 \neq \mu_2$
|Wilcoxon rank sum test    |Two     |$(X_1, ..., X_n) \stackrel{iid}{\sim} F$ <br> $ (Y_1-\Delta, ..., Y_m-\Delta) \stackrel{iid}{\sim}F$| $H0: \Delta = $ $ 0$ <br> $H1: \Delta $ $< 0$ or $\Delta > 0$ or $\Delta \neq 0$
|Mann-Witney U test        |Two     |$(X_1, ..., X_n) \stackrel{iid}{\sim} F_X$ <br> $(Y_1, ..., Y_m) \stackrel{iid}{\sim}F_Y$| $H0: $ $F_X = $ $ F_Y$ <br> $H1: $ $F_X \neq$ $ F_Y$

### Imports

In [74]:
import numpy as np
import pandas as pd
from scipy.stats import mannwhitneyu, t, ttest_1samp, ttest_ind, wilcoxon

## Example Datasets

#### Sleep data
The number of hours of sleep gained, given low and normal doses of a drug, by 10 patients.

In [87]:
sleep_data = [
    [0.7, -1.6, -0.2, -1.2, -0.1, 3.4, 3.7, 0.8, 0.0, 2.0],
    [1.9, 0.8, 1.1, 0.1, -0.1, 4.4, 5.5, 1.6, 4.6, 3.4],
]
sleep = pd.DataFrame(sleep_data, index=["Low Dose", "Normal Dose"])
sleep

               0    1    2    3    4    5    6    7    8    9
Low Dose     0.7 -1.6 -0.2 -1.2 -0.1  3.4  3.7  0.8  0.0  2.0
Normal Dose  1.9  0.8  1.1  0.1 -0.1  4.4  5.5  1.6  4.6  3.4

#### Glucose levels data
Fasting blood glucose levels (measured in mmol/l) recorded in a study of type I diabetes from Altman (1991).

In [135]:
glucose_data = [
    10.3,
    8.8,
    5.3,
    9.5,
    6.7,
    6.7,
    12.2,
    12.5,
    5.2,
    15.1,
    4.2,
    13.3,
    10.8,
    15.3,
    7.5,
    19.0,
    7.2,
    4.9,
    16.1,
    9.3,
    19.5,
    8.1,
    8.6,
    11.1,
]
glucose = pd.DataFrame(glucose_data, columns=["Glucose"])
glucose.head()

   Glucose
0     10.3
1      8.8
2      5.3
3      9.5
4      6.7

#### Weights of screws data
Weights of two samples of screws

In [89]:
screws_data = [
    [30.02, 29.99, 30.11, 29.97, 30.01, 29.99],
    [29.89, 29.93, 29.72, 29.98, 30.02, 29.98],
]
screws = pd.DataFrame(screws_data, index=["Sample A", "Sample B"])
screws

              0      1      2      3      4      5
Sample A  30.02  29.99  30.11  29.97  30.01  29.99
Sample B  29.89  29.93  29.72  29.98  30.02  29.98

#### Leukemia gene expression data
Gene expression data for leukemia patients. Rows correspond to different genes. Columns correspond to different patients.

In [90]:
leukemia = pd.read_csv("leukemia.csv", index_col=[0], header=[0, 1])
leukemia.head()

        Subtype A                                                              \
Patient         1         2         3         4         5         6         7
Gene
1        0.561549 -0.623141 -0.814524  0.229492 -0.706016 -0.314779 -0.089514
2        0.213566 -0.912107 -1.084069 -0.965719  0.660884  0.541182 -0.916502
3       -0.636584 -0.465296 -0.583127 -0.525060 -0.548306 -0.156431 -0.470195
4        0.347124 -0.734345  1.785912 -0.188016 -0.702840  0.446234 -1.026895
5        0.545509 -0.539898  1.445064 -0.534603 -0.285707 -0.204271 -0.634511

                                       ... Subtype B                      \
Patient         8         9        10  ...        16        17        18
Gene                                   ...
1       -0.623685 -0.816460  2.043910  ... -0.606044 -0.022679 -0.382517
2       -0.912595  1.564484  0.449957  ... -0.896745 -0.372576  0.964838
3       -0.465841 -0.658930 -0.141057  ...  0.514056  0.136145 -0.224280
4        0.860892 -0.275779  0.194809  ...  0.489316 -0.407069  0.794608
5        0.077930  0.127314  0.507366  ...  0.620201 -0.240095  0.357756


Patient        19        20        21        22        23        24        25
Gene
1        1.691718  1.308018 -0.570999 -0.807725 -0.940462 -0.207155  0.062535
2        0.607399  0.559321 -0.865256 -1.077961 -0.429690 -0.538333 -0.296009
3        0.022314 -0.207183 -0.413069 -0.650181 -0.783134 -0.048632  0.221498
4       -0.523432 -0.758033 -0.729148 -0.056816 -1.346795 -0.595956 -0.319818
5       -0.105089 -0.594073  1.548906 -0.015337 -0.664693 -0.936764 -0.345593

[5 rows x 72 columns]

## One-sample t-test

The one-sample t-test is a one-sample test for location.

##### Test assumptions
* $(X_1, ..., X_n) \stackrel{iid}{\sim} \mathcal{N}(\mu,\sigma^2)$ with $\mu,\sigma^2$ unknown.

##### Typical test hypothesis
* $H0: \mu = \mu_0$
* $H1: \mu < \mu_0$ or $\mu > \mu_0$ or $\mu \neq \mu_0$

##### Test Statistic
$$T(X) = \frac{\bar{X}-\mu_0}{S \big/ \sqrt{n}} \sim t_{n-1}$$

* $\bar{X} = \frac{1}{n}\sum_{i=1}^{n}X_i$
* $S^2 = \frac{1}{n-1}\sum_{i=1}^{n}(X_i-\bar{X})^2$

##### Distribution of test statistic
* $H0: \mu = \mu_0$ $\qquad$ $\mu_0 \simeq \bar{X} \simeq \mu \implies t_{obs}\simeq 0$

* $H1: \mu < \mu_0$ $\qquad$ compute $p^+ = \mathbb{P}(T(X) \leq t_{obs})$ and reject $H0$ if $p^+ \leq \alpha$
* $H1: \mu > \mu_0$ $\qquad$ compute $p^- = \mathbb{P}(T(X) \geq t_{obs})$ and reject $H0$ if $p^+ \leq \alpha$
* $H1: \mu \neq \mu_0$ $\qquad$ compute $p = \mathbb{P}(|T(X)| \geq t_{obs}) = 2\mathbb{P}(T(X) \geq t_{obs})$ and reject $H0$ if $p \leq \alpha$

$ \big( \mu < \mu_0 \implies$ small $\bar{X}-\mu_0 \implies$ small $t_{obs} \implies$ small $\mathbb{P}(T(X) \leq t_{obs}) \big)$

### Example (sleep data):

In [91]:
sleep.head()

               0    1    2    3    4    5    6    7    8    9
Low Dose     0.7 -1.6 -0.2 -1.2 -0.1  3.4  3.7  0.8  0.0  2.0
Normal Dose  1.9  0.8  1.1  0.1 -0.1  4.4  5.5  1.6  4.6  3.4

##### Hypothesis
$H0: \mu = 0$ vs $H1: \mu > 0$

In [92]:
X1 = sleep.loc["Low Dose"]
X2 = sleep.loc["Normal Dose"]

##### Calculation

In [93]:
n = len(X1)
x_bar = X1.mean()
s = (X1.var()) ** 0.5
mu = 0

t_obs = (x_bar - mu) / (s / n**0.5)
pval = 1 - t.cdf(t_obs, n - 1)

print("t_obs: ", t_obs)
print("pval: ", pval)

t_obs:  1.3257101407138216
pval:  0.10879889003422438

##### Scipy

In [94]:
ttest_1samp(X1, 0, alternative="greater")

Ttest_1sampResult(statistic=1.3257101407138212, pvalue=0.10879889003422445)

In [97]:
ttest_1samp(X2, 0, alternative="greater")

Ttest_1sampResult(statistic=3.6799158947951884, pvalue=0.0025380663248862055)

## Wilcoxon signed-rank test

The Wilcoxon signed-rank test is a one-sample test for location.
##### Let
* $F$ be a fixed unknown CDF defined on $\mathbb{R}$

##### Test assumptions
* $(X_1, ..., X_n) \stackrel{iid}{\sim} F$
* $F$ *continuous* and *symmetric* about unknown $\mu$

##### Typical test hypothesis
* $H0: \mu = \mu_0$
* $H1: \mu < \mu_0$ or $\mu > \mu_0$ or $\mu \neq \mu_0$

##### Test Statistic (Wilcoxon signed-rank test statistic)
$$W(I,R) = \sum_{j=1}^{n}I_jR_j$$
* $R = R(|X-\mu_0|) = (R_1, ..., R_n)$
* $I = I(X) = (I_1, ..., I_n)$
    * $R_i = \sum_{j=1}^{n}\mathbb{I}\{|X_j-\mu_0| \leq |X_i-\mu_0|\}$  
    (Rank of $|X_i-\mu_0|$ in $\{X_1-\mu_0, ..., X_n-\mu_0\}$)
    * $I_i = \mathbb{I}\{X_i>\mu_0\}$

##### Distribution of test statistic
* $H0: \mu = \mu_0$ $\qquad$ $I_i \sim Ber(1/2)$, $R \sim U(\mathcal{P}_n)$. Sum is from $1$ to $n$, each rank appears once, and $I \perp R$ $\implies W(I,R) = \sum_{j=1}^{n}jJ_j$

* $H1: \mu < \mu_0$ $\qquad$ compute $p^- = \mathbb{P}(W(I,R) \leq W_{obs})$ and reject $H0$ if $p^- \leq \alpha$
* $H1: \mu > \mu_0$ $\qquad$ compute $p^+ = \mathbb{P}(W(I,R) \geq W_{obs})$ and reject $H0$ if $p^+ \leq \alpha$
* $H1: \mu \neq \mu_0$ $\qquad$ compute $p^+, p^-$ and reject $H0$ if $2min(p^-, p^+) \leq \alpha$ as the distribution of $W$ is symmetric (about $n(n + 1)/4$)

$ \big( \mu > \mu_0 \implies$ large $|X−\mu_0|$ values for $X$ values above $\mu_0 \implies$ large $W_{obs} \implies$ small $\mathbb{P}(W(R) \geq W_{obs}) \big)$

### Monte Carlo Wilcoxon signed-rank test

For moderately large $n$, going through all possible permutations is infeasible and we must approximate.

1. Compute $W_{obs} = W(z)$
2. For $k=1,...,K$,
    * Simulate $R^{(k)} \stackrel{iid}{\sim} U(\mathcal{P}_{n})$ and signs $S^{(k)} \in \{-1,1\}^n$
    * Calculate $W_{mc}^{(k)} = \sum_i \mathbb{I}_{R_i^{(k)}S_i^{(k)}>0}$
4. Estimate relevant p-value:
* $H1: \mu < \mu_0$ $\qquad$ compute $\widehat{p}^- = K^{-1} \sum_k \mathbb{I}_{W_{mc}^{(k)} \leq W_{obs}}$
* $H1: \mu > \mu_0$ $\qquad$ compute $\widehat{p}^+ = K^{-1} \sum_k \mathbb{I}_{W_{mc}^{(k)} \geq W_{obs}}$
* $H1: \mu \neq \mu_0$ $\qquad$ compute $p = 2min(\widehat{p}^-, \widehat{p}^+)$

### Example (glucose data):

In [98]:
glucose.head(3)

   Glucose
0     10.3
1      8.8
2      5.3

##### Hypothesis
$H0: \mu = 10$ vs $H1: \mu < 10$

In [99]:
X = glucose.iloc[:, 0]

##### Calculation (Monte Carlo)

In [136]:
# 1. Compute W_obs
all_ranks = abs(X - 10).rank()
orig_pos_ind = (X - 10)[X - 10 > 0].index
W_obs = all_ranks[orig_pos_ind].sum()

# 2. Compute W_mc (K times)
K = 100000
n = 24
W_mc_list = np.zeros(K)

for i in range(K):
    ranks = list(range(1, n + 1))
    signs = np.random.choice([-1, 1], size=n)
    srank = ranks * signs
    W_mc = srank[srank > 0].sum()
    W_mc_list[i] = W_mc

# 3. Compute p_val
pval_large = (W_mc_list >= W_obs).mean()
pval_small = (W_mc_list <= W_obs).mean()

print("W_obs: ", W_obs)
print("pval: ", pval_small)

W_obs:  0.0
pval:  0.0

##### Scipy

In [101]:
wilcoxon(glucose.iloc[:, 0] - 10, alternative="less")

WilcoxonResult(statistic=152.0, pvalue=0.527946412563324)

## Independent-samples t-test

The independent-samples t-test is a two-sample test for location.

##### Test assumptions
* $(X_1, ..., X_n) \stackrel{iid}{\sim} \mathcal{N}(\mu_1,\sigma^2)$ with $\mu_1,\sigma^2$ unknown.
* $(Y_1, ..., Y_m) \stackrel{iid}{\sim} \mathcal{N}(\mu_2,\sigma^2)$ with $\mu_2,\sigma^2$ unknown.

Note, there exists a version for unequal variances.

##### Typical test hypothesis
* $H0: \mu_1 = \mu_2$
* $H1: \mu_1 < \mu_2$ or $\mu_1 > \mu_2$ or $\mu_1 \neq \mu_2$

##### Test Statistic
$$T(X) = \frac{\bar{X}-\bar{Y}}{S_p \sqrt{\frac{1}{n} + \frac{1}{m}}} \sim t_{n+m-2}$$

* $\bar{X} = \frac{1}{n}\sum_{i=1}^{n}X_i$
* $\bar{Y} = \frac{1}{m}\sum_{i=1}^{m}Y_i$
* $S_X^2 = \frac{1}{n-1}\sum_{i=1}^{n}(X_i-\bar{X})^2$
* $S_Y^2 = \frac{1}{m-1}\sum_{i=1}^{m}(Y_i-\bar{Y})^2$
* $S_p^2 = \frac{(n-1)S_X^2+(m-1)S_Y^2}{n+m-2}$

##### Distribution of test statistic
* $H0: \mu_1 = \mu_2$ $\qquad$ $\bar{X} \simeq \bar{Y} \implies t_{obs}\simeq 0$

* $H1: \mu_1 < \mu_2$ $\qquad$ compute $p^+ = \mathbb{P}(T(X) \leq t_{obs})$ and reject $H0$ if $p^+ \leq \alpha$
* $H1: \mu_1 > \mu_2$ $\qquad$ compute $p^- = \mathbb{P}(T(X) \geq t_{obs})$ and reject $H0$ if $p^+ \leq \alpha$
* $H1: \mu_1 \neq \mu_2$ $\qquad$ compute $p = \mathbb{P}(|T(X)| \geq t_{obs}) = 2\mathbb{P}(T(X) \geq t_{obs})$ and reject $H0$ if $p \leq \alpha$

$ \big( \mu_1 < \mu_2 \implies$ small $\bar{X}-\bar{Y} \implies$ small $t_{obs} \implies$ small $\mathbb{P}(T(X) \leq t_{obs}) \big)$

### Example (screws data):

In [102]:
screws.head()

              0      1      2      3      4      5
Sample A  30.02  29.99  30.11  29.97  30.01  29.99
Sample B  29.89  29.93  29.72  29.98  30.02  29.98

##### Hypothesis
$H0: \mu_1 = \mu_2$ vs $H1: \mu_1 \neq \mu_2$

In [103]:
X = screws.loc["Sample A"]
Y = screws.loc["Sample B"]

##### Calculation

In [104]:
n = len(X)
m = len(Y)
x_bar = X.mean()
y_bar = Y.mean()
s_x = (X.var()) ** 0.5
s_y = (Y.var()) ** 0.5
s_p = (((n - 1) * s_x**2 + (m - 1) * s_y**2) / (n + m - 2)) ** 0.5

t_obs = (x_bar - y_bar) / (s_p * (1 / n + 1 / m) ** 0.5)
pval = 2 * (1 - t.cdf(t_obs, n + m - 2))

print("t_obs: ", t_obs)
print("pval: ", pval)

t_obs:  1.9590058081081436
pval:  0.07856577385723074

##### Scipy

In [105]:
ttest_ind(X, Y, equal_var=True, alternative="two-sided")

Ttest_indResult(statistic=1.9590058081081436, pvalue=0.07856577385723074)

## Wilcoxon rank sum test

The Wilcoxon rank sum test is a two-sample test for location.
##### Let
* $F$ be a fixed unknown CDF defined on $\mathbb{R}$
* $\Delta \in \mathbb{R}$ unknown 

##### Test assumptions
* $(X_1, ..., X_n) \stackrel{iid}{\sim} F$
* $(Y_1-\Delta, ..., Y_m-\Delta) \stackrel{iid}{\sim}F$

##### Typical test hypothesis
* $H0: \Delta = 0$
* $H1: \Delta < 0$ or $\Delta > 0$ or $\Delta \neq  0$  

##### Test Statistic (Wilcoxon rank sum test statistic)
$$W(R(Z)) = \sum_{i=n+1}^{n+m}R_i$$
* $Z = (X,Y)$
* $R(Z) = (R_1, ..., R_N)$ ($N=n+m$ ranks of the elements of $Z$)

##### Distribution of test statistic
* $H0: \Delta = 0$ $\qquad$ $X$ and $Y$ iid $\implies Z_1, ..., Z_N$ exchangeable $\implies  R \sim U(\mathcal P_{n+m})$

* $H1: \Delta < 0$ $\qquad$ compute $p^- = G_{n,m}(W_{obs}) = \mathbb{P}(W(R) \leq W_{obs})$ and reject $H0$ if $p^- \leq \alpha$
* $H1: \Delta > 0$ $\qquad$ compute $p^+ = 1-G_{n,m}(W_{obs}) = \mathbb{P}(W(R) \geq W_{obs})$ and reject $H0$ if $p^+ \leq \alpha$
* $H1: \Delta \neq 0$ $\qquad$ compute $p^+, p^-$ and reject $H0$ if $2min(p^-, p^+) \leq \alpha$

$ \big( \Delta < 0 \implies$ large $Y_i - \Delta \implies$ small $Y_i \implies$ small $W_{obs} \implies$ small $\mathbb{P}(W(R) \leq W_{obs}) \big)$

### Monte Carlo Wilcoxon rank sum test

For moderately large $m$ and $n$, going through all possible permutations is infeasible and we have
to make some approximation to $G_{n,m}$.

1. Compute $W_{obs} = W(z)$
2. For $k=1,...,K$,
    * Simulate random rank vectors $R^{(k)} \stackrel{iid}{\sim} U(\mathcal{P}_{n+m})$
    * Calculate $W_{mc}^{(k)} = \sum_{i=n+1}^{n+m}R_i^{(k)}$
3. Estimate relevant p-value:
* $H1: \Delta < 0$ $\qquad$ compute $\widehat{p}^- = K^{-1} \sum_k \mathbb{I}_{W^{(k)} \leq W_{obs}}$
* $H1: \Delta > 0$ $\qquad$ compute $\widehat{p}^+ = K^{-1} \sum_k \mathbb{I}_{W^{(k)} \geq W_{obs}}$
* $H1: \Delta \neq 0$ $\qquad$ compute $p = 2min(\widehat{p}^-, \widehat{p}^+)$

## Mann-Witney U test

The Mann-Witney U test is a two-sample test for similarity of distributions.
This test differs to the Wilcoxon rank sum permutation test in its assumption and hypothesis. However, the statistics are equivalent.
##### Let
* $F_X, F_Y$ be fixed unknown CDFs defined on $\mathbb{R}$

##### Test assumptions
* $(X_1, ..., X_n) \stackrel{iid}{\sim} F_X$
* $(Y_1, ..., Y_m) \stackrel{iid}{\sim}F_Y$

##### Typical test hypothesis
* $H0: F_X = F_Y$
* $H1: F_X \neq F_Y$

##### Test Statistic (Mann-Witney test statistic $U = W − m(m + 1)/2$)
$$U(X,Y) = \sum_{i=1}^{n}\sum_{i=m}^{m}\mathbb{I}\{Y_j > X_i\}$$



##### Distribution of test statistic
* $H0: F_X = F_Y$ $\qquad$ $X$ and $Y$ iid $\implies Z_1, ..., Z_N$ exchangeable $\implies  R \sim U(\mathcal P_{n+m})$
* $H1: F_X \neq F_Y$ $\qquad$ compute $p^+, p^-$ and reject $H0$ if $2min(p^-, p^+) \leq \alpha$
    * $p^- = \mathbb{P}(U(X,Y) \leq U_{obs})$
    * $p^+ = \mathbb{P}(U(X,Y) \geq U_{obs})$

### Example (leukemia data):

#### Gene 3500 (exact calculation)

Consider gene 3500 for the first 4 patients from each subtype:

In [106]:
leukemia_3500 = leukemia.iloc[[3500 - 1], np.r_[0:4, 47 : 47 + 4]]
leukemia_3500.loc["Rank"] = leukemia_3500.loc[3500].rank()
leukemia_3500

        Subtype A                               Subtype B                      \
Patient         1         2         3         4         1         2         3
Gene
3500     0.950646  1.258883 -0.094631  0.431763 -1.453403 -1.062839 -1.086745
Rank     7.000000  8.000000  5.000000  6.000000  1.000000  4.000000  3.000000


Patient         4
Gene
3500    -1.403419
Rank     2.000000

##### Hypothesis
$H0: \Delta = 0$ vs $H1: \Delta < 0$

In [107]:
X = leukemia_3500["Subtype A"].loc[3500]
Y = leukemia_3500["Subtype B"].loc[3500]

In [109]:
Y

Patient
1   -1.453403
2   -1.062839
3   -1.086745
4   -1.403419
Name: 3500, dtype: float64

##### Caluclation

In [21]:
W_obs = leukemia_3500["Subtype B"].loc["Rank"].sum()
W_obs

10.0

$p^- = G_{n,m}(W_{obs}) = \mathbb{P}(W(R) \leq W_{obs}) = \frac{4!4!}{(4+4)!} = 0.0143 < 0.05$. Therefore we reject $H0$.

Note that $U = W − \frac{m(m + 1)}{2} = 10 - \frac{4(4+1)}{2} = 0$

##### Scipy

In [22]:
mannwhitneyu(Y, X, method="exact", alternative="less")

MannwhitneyuResult(statistic=0.0, pvalue=0.014285714285714285)

#### Gene 1706 (Monte Carlo approximation)

Consider gene 1706:

In [110]:
leukemia_1706 = leukemia.iloc[[1706 - 1], :].copy()
leukemia_1706.loc["Rank"] = leukemia_1706.loc[1706].rank()
leukemia_1706

         Subtype A                                                      \
Patient          1          2         3          4         5         6
Gene
1706      0.742095  -0.135933 -1.771259   0.577282   0.89576 -1.660574
Rank     53.000000  30.000000  4.000000  51.000000  59.00000  5.000000

                                                    ...  Subtype B             \
Patient          7          8          9        10  ...         16         17
Gene                                                ...
1706      0.040558  -0.968151  -0.335355 -1.477719  ...  -0.931488  -0.218484
Rank     33.000000  10.000000  24.000000  7.000000  ...  11.000000  26.000000

                                                                         \
Patient         18         19        20         21         22        23
Gene
1706     -0.195975  -0.582011 -1.539868   0.188182  -0.171678 -1.319879
Rank     27.000000  16.000000  6.000000  40.000000  28.000000  8.000000


Patient         24         25
Gene
1706     -0.076744  -0.726423
Rank     31.000000  13.000000

[2 rows x 72 columns]

##### Hypothesis
$H0: \Delta = 0$ vs $H1: \Delta \neq 0$

In [111]:
X = leukemia_1706["Subtype A"].loc[1706]
Y = leukemia_1706["Subtype B"].loc[1706]

##### Caluclation (Monte Carlo)

Note that $U = W − \frac{m(m + 1)}{2} = 626 - \frac{25(25+1)}{2} = 301$

In [112]:
# 1. Compute W_obs
W_obs = leukemia_1706["Subtype B"].loc["Rank"].sum()

# 2. Compute W_mc (K times)
K = 1000000
n = 47
m = 25

W_mc_list = np.zeros(K)
ranks = list(range(1, n + m + 1))

for i in range(K):
    W_mc = np.random.choice(ranks, size=m, replace=False).sum()
    W_mc_list[i] = W_mc

# 3. Compute p_val
pval_large = (W_mc_list >= W_obs).mean()
pval_small = (W_mc_list <= W_obs).mean()
pval = 2 * min(pval_large, pval_small)

print("W_obs: ", W_obs)
print("pval: ", pval)

W_obs:  626.0
pval:  0.000546

##### Scipy

In [113]:
mannwhitneyu(Y, X, method="auto", alternative="two-sided", use_continuity=True)

MannwhitneyuResult(statistic=301.0, pvalue=0.0007175092329133386)

**Not the same as Monte Carlo pvalue!!**  
**Need to figure out why (I think MC is correct)...**